<h1>Listing restaurants</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Description</th>
    <th></th>
  </tr>
 
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.description %></td>
      <td><%= link_to 'Show', restaurant_path(restaurant) %></td>
    </tr>
  <% end %>
</table>